body {
  background: #F9F9F9;
  font-size: 16px;
}

/* Header Styles */

.page-header {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  overflow: auto;
  padding: 20px 70px;
}

.page-header h1 {
  color: #966746;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.1em;
  opacity: 0.8;
  text-transform: uppercase;
}

.page-header h1:before {
  background: url('../images/passageslogosmall.png') center center no-repeat;
  background-size: contain;
  content: '';
  display: block;
  float: left;
  height: 1em;
  margin-right: 0.4em;
  width: 1em;
}

.page-header h1 a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.page-header h1 a:hover {
  color: #222;
}

.page-header nav {
  float: right;
  font-family: sans-serif;
}

.page-header li {
  color: #222;
  display: inline;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  opacity: 0.8;
  padding-right: 30px;
  text-transform: uppercase;
}

.page-header nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.page-header nav a:hover {
  color: #E7746F;
}

/* Footer Styles */

.page-footer {
  background: black;
  padding: 40px 70px;
}

.social-links {
  color: rgba(255,255,255,0.2);
  text-align: center;
  margin-bottom: 40px;
}

.social-links a {
  color: inherit;
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.2);
  text-decoration: none;
  border-radius: 3px;
  transition: color 0.3s ease-out;
  transition: border-color 0.4s ease-out;

}

.social-links a:hover {
  border-color: rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
}

.social-links li {
  display: inline;
  margin-right: 12px;
}

.copyright-message {
 text-align: center;
 color: #FFFFFF;
 opacity: 0.9;
}