body {
  background: #F9F9F9;
  font-size: 16px;
}

header {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  overflow: auto;
  padding: 20px 70px;
}

h1 {
  color: #966746;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.1em;
  opacity: 0.8;
  text-transform: uppercase;
}

h1:before {
  background: url('../images/passageslogosmall.png') center center no-repeat;
  background-size: contain;
  content: '';
  display: block;
  float: left;
  height: 1em;
  margin-right: 0.4em;
  width: 1em;
}

h1 a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

h1 a:hover {
  color: #222;
}

nav {
  float: right;
  font-family: sans-serif;
}

li {
  color: #222;
  display: inline;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  opacity: 0.8;
  padding-right: 30px;
  text-transform: uppercase;
}

nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

nav a:hover {
  color: #E7746F;
}